<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="browsermode" content="application" />
    <meta name="x5-page-mode" content="app" />
    <title>Pose management</title>
    <link rel="stylesheet" href="front/css/style.css" />
    <link rel="stylesheet" href="front/script/jPicker/css/jPicker-1.1.6.min.css"/>
    <link rel="stylesheet" href="front/script/jPicker/jPicker.css"/>
    <script type="text/javascript" src="front/script/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="front/script/jPicker/jpicker-1.1.6.js"></script>
    <script type="text/javascript" src="front/js/color.js"></script>

    <script>
        //加载前端界面数据
        function getData() {
            //加载已监控的数据
            getMCam();
            //加载alertlist的数据
            getAlert();

        }
        function getMCam() {
            var curl="/findMCamera";
            $.ajax({
                type: "post",
                url: curl,
                success: function (result) {
                    if(result!= null){
                        var result = eval(result);
                        var table_html = "<tr >\n" +
                            "                    <th width=\"150\">Club</th>\n" +
                            "                        <th>Resource Id</th>\n" +
                            "                    <th>Camera Name</th>\n" +
                            "                    <th></th>\n" +
                            "                    </tr>";
                        $.each(result,function(i,obj) {
                            console.log(obj);
                            table_html += "<tr ><td>"+obj.clubId+"</td><td>"+obj.resourceId+"</td><td ><a href=\"#\" class=\"edit\"><em></em>Edit</a><td><a href=\"#\" class=\"delete\" onclick=\"deleteCam('"+obj.cameraId+"')\"><em></em>Delete</a></td></tr>";
                        });
                        $("#monitor_camert_list").html(table_html);
                    }
                },
                error:function (XMLHttpRequest, textStatus, errorThrown)
                {

                }
            })
        }
        function deleteCam(cameraId) {
            var url="/deleteMonitorCam";
            $.ajax({
                type: "post",
                url: url,
                data: {
                    cameraId:cameraId
                },
                dataType: "json",
                success: function (result)
                {
                    if(result!=null){
                        if(result.status=="0"){
                            getMCam();
                        }
                    }

                },
                error:function (XMLHttpRequest, textStatus, errorThrown)
                {

                }
            })


        }
        function getAlert() {
            var aurl="/findAllAlert"
            $.ajax({
                type: "post",
                url: aurl,
                success: function (result) {
                    if(result!= null){
                        var result = eval(result);
                        var table_html = " <tr>\n" +
                            "                        <th width=\"150\">Time</th>\n" +
                            "                            <th>Club</th>\n" +
                            "                            <th>ResourseID</th>\n" +
                            "                            <th></th>\n" +
                            "                            </tr>"
                        $.each(result,function(i,obj) {
                            console.log(obj);
                            table_html += "<tr ><td>"+obj.time+"</td><td>"+obj.clubId+"</td><td >"+obj.cameraId+"</td><td><img src='"+obj.image+"' style=\"width: 100px;height: 50px\"/></td></tr>";
                        });
                        $("#alert_list").html(table_html);
                    }
                },
                error:function (XMLHttpRequest, textStatus, errorThrown)
                {

                }
            })
            
        }
    </script>

</head>
<body class="body" onload="getData()">
<div class="header">
    <div class="header-inner clearfix">
        <div class="logo-box"><div class="logo"></div></div>
        <div class="login-box">
            <a href="/logout" class="icon-login"> <em></em> <span>Logout</span> </a>
            <a href="#" class="icon-user">
                <em></em> <span th:text="${userName}"></span>
            </a>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-inner">
        <div class="setting-box clearfix">
            <a href="#" class="btn-setting"><em></em>Setting</a>
            <div class="pop-setting">
                <ul class="setting-list">
                    <li><a href="#" class="user_management">User Management</a></li>
                    <li><a href="#" class="cam_management">Cam Management</a></li>
                    <li><a href="#" class="output_device_manaement">Output Device Management</a></li>
                </ul>
            </div>
        </div>
        <div class="table-list">
            <div class="table-title"><h4>DeviceList</h4></div>
            <div class="table-box">
                <table
                        class="table-detail"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        id="monitor_camert_list"
                >


                </table>

                <div class="add-box"><a href="#" class="btn-add"></a></div>
            </div>
        </div>
        <div class="table-list">
            <div class="table-title"><h4>AlertList</h4></div>
            <div class="table-box">
                <table
                        class="table-detail"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        id="alert_list"
                >
                </table>
            </div>
        </div>
    </div>
</div>
<div class="dialog_admin_overlay"></div>
<div class="dialog_admin">
    <div class="detail-title">
        <h5>User Management(Administrator)</h5>
        <a href="#" class="btn-admin-close"></a>
    </div>
    <div class="div_user_title">User List</div>
    <div class="user-table-list">
        <div class="table-box">
            <table
                    class="table-detail"
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    id="userList">
                <tr>
                    <td class="user_name"></td>
                    <td class="change_pwd">Change Password</td>
                </tr>
            </table>
        </div>
        <div class="add-user-box">
            <a href="#" class="btn-add-user"><em></em>Add User</a>
        </div>
    </div>
</div>
<div class="dialog_cam_management">
    <div class="detail-title">
        <h5>Cam Management</h5>
        <a href="#" class="btn-cam-close"></a>
    </div>
    <div class="div_cam_title">Cam List</div>
    <div class="cam-table-list">
        <div class="table-box">
            <table
                    class="table-detail"
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    id="nm_cam_list"
            >
            </table>
        </div>
        <div class="add-cam-box">
            <a href="#" class="btn-add-cam"><em></em>Add Cam</a>
        </div>
        <div class="change_monitor_cam_error_div"></div>
        <div class="btn_change_monitor_cam">Confirm</div>


    </div>
</div>
<div class="dialog_change_pwd_overlay"></div>
<div class="dialog_change_pwd">
    <div class="detail-title">
        <h5>Change Password</h5>
        <a href="#" class="btn-change-pwd-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                UserName
                <div class="right-option" id="userName">ZhangSan</div>
            </li>
            <li>
                Password
                <div class="right-option"><input id="c_password" name="c_password" required="required" type="password" placeholder="Password"></div>
            </li>
            <li>
                Confirm Password
                <div class="right-option"><input id="c_confirm_pwd" name="c_confirm_pwd" required="required" type="password" placeholder="Confirm Password"></div>
            </li>
        </ul>
    </div>
    <div class="c_error_div" th:text="${error}"></div>
    <div class="btn_change_pwd">Confirm</div>
</div>
<!--add Cam-->
<div class="dialog_add_simple_cam_overlay"></div>
<div class="dialog_add_simple_cam">
    <div class="detail-title">
        <h5>Add Cam</h5>
        <a href="#" class="btn-add-simple-cam-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                Club
                <div class="right-option"><input required="required" id="club" name="club" type="text" placeholder="Club"></div>
            </li>
            <li>
                Resource Id
                <div class="right-option"><input required="required" id="resource_id" name="resource_id" type="text" placeholder="Resource Id"></div>
            </li>
            <li>
                Cam Name
                <div class="right-option"><input required="required" id="cam_name" name="cam_name" type="text" placeholder="Resource Id"></div>
            </li>
        </ul>
    </div>
    <div class="a_simple_cam_error_div"></div>
    <div class="btn_add_simple_cam">Confirm</div>
</div>
<div class="dialog_edit_simple_cam">
    <div class="detail-title">
        <h5>Edit Cam</h5>
        <a href="#" class="btn-edit-simple-cam-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <input type="hidden" id="cameraId">
            <li>
                Cam Name
                <div class="right-option"><input id="cameraName" name="cameraName" type="text" placeholder="Cam Name"></div>
            </li>
        </ul>
    </div>
    <div class="e_simple_cam_error_div"></div>
    <div class="btn_edit_simple_cam">Confirm</div>
</div>
<div class="dialog_add_output_device">
    <div class="detail-title">
        <h5>Add Output Device</h5>
        <a href="#" class="btn-add-output-device-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                Output Device
                <div class="right-option"><input id="output_device_name" name="output_device_name"  required="required" type="text" placeholder="Output device name"></div>
            </li>
        </ul>
    </div>
    <div class="a_d_error_div"></div>
    <div class="btn_add_output_device">Confirm</div>
</div>
<div class="dialog_general_change_pwd">
    <div class="detail-title">
        <h5>Change Password</h5>
        <a href="#" class="btn-general-change-pwd-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                UserName
                <div class="right-option">ZhangSan</div>
                <input type="hidden" id="userId">
            </li>
            <li>
                Password
                <div class="right-option"><input id="g_c_password" name="g_c_password" type="password" placeholder="Password"></div>
            </li>
            <li>
                Confirm Password
                <div class="right-option"><input id="g_c_confirm_pwd" name="g_c_confirm_pwd" type="password" placeholder="Confirm Password"></div>
            </li>
        </ul>
    </div>
    <div class="btn_general_change_pwd">Confirm</div>
</div>
<div class="dialog_add_user">
    <div class="detail-title">
        <h5>Add User</h5>
        <a href="#" class="btn-add-user-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                UserName
                <div class="right-option"><input id="a_username" name="a_username" required="required" type="text" placeholder="Username"></div>
            </li>
            <li>
                Password
                <div class="right-option"><input id="a_password" name="a_password" required="required" type="password" placeholder="Password"></div>
            </li>
            <li>
                Confirm Password
                <div class="right-option"><input id="a_confirm_pwd" name="a_confirm_pwd" required="required" type="password" placeholder="Confirm Password"></div>
            </li>
        </ul>
    </div>
    <div class="a_error_div"></div>
    <div class="btn_add_user">Confirm</div>
</div>
<div class="dialog_overlay"></div>
<input type="hidden" id="color_min" value="173,100,96">
<input type="hidden" id="color_max" value="173,100,96">
<div class="add-detail">
    <div class="div_colorpicker" ></div>
    <div class="detail-title">
        <h5>ParameterOfModelList</h5>
        <a href="#" class="btn-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                CameraId
                <div class="right-option"><input id="cameraId" name="cameraId" type="text" placeholder="请输入摄相头id"></div>
            </li>
            <li>
                ColorReference
                <div class="right-option"><button id="colorpicker_min" class="colorpicker"></button><button class="colorpicker" id="colorpicker_max"></button></div>
            </li>
            <li>
                Threshold
                <div class="right-option"></div>
            </li>
            <li>
                VideoFPS
                <div class="right-option">
                    <div class="select-wrap select-fps">
                        <select name="video_fps" id="video_fps">
                            <option value="0">15</option>
                            <option value="1">10</option>
                            <option value="2">5</option>
                        </select>
                    </div>
                </div>
            </li>
            <li>
                VedioResolution
                <div class="right-option">
                    <div class="select-wrap select-resolution">
                        <select name="resolution" id="resolution">
                            <option value="0">1024 x 768</option>
                            <option value="1">1024 x 768</option>
                            <option value="2">1024 x 768</option>
                        </select>
                    </div>
                </div>
            </li>
            <li>
                Compression ratio
                <div class="right-option">
                    <div class="select-wrap select-ratio">
                        <select name="compression-ratio" class="compression_ratio">
                            <option value="0">0.8</option>
                            <option value="1">0.5</option>
                            <option value="2">0.3</option>
                        </select>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="result_div" >Error message</div>
    <div class="btn-box">
        <a href="#" class="btn-confirm">Confirm</a>
    </div>
</div>
<script type="text/javascript">

    $(".setting-box .btn-setting").hover(
        function() {
            $(this).addClass("active");
            $(".pop-setting").fadeIn(300);
        },
        function() {
            $(this).removeClass("active");
            setTimeout(function() {
                $(".pop-setting").is(":visible") && $(".pop-setting").hasClass("on")
                    ? ""
                    : $(".pop-setting").hide();
            }, 400);
        }
    );

    $(".pop-setting").hover(
        function() {
            $(this).addClass("on");
            $(".setting-box .btn-setting").addClass("active");
        },
        function() {
            $(".setting-box .btn-setting").removeClass("active");
            $(this) .removeClass("on") .hide();
        }
    );

    //btn-add
    $(".table-list .table-box .add-box .btn-add").click(function() {
        $(".dialog_overlay").show();
        $(".add-detail").css("display", "block");
        setTimeout(
            "$('.add-detail').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );
    });

    $(".detail-title .btn-close").click(function() {
        $(".dialog_overlay").hide();
        $(".add-detail").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });
    });
    $("#colorpicker_min").click(function () {
        var LiveCallbackButton = $('#colorpicker_min');
        $(".div_colorpicker").jPicker(
            {},
            //ok
            function(color, context)
            {
                var all = color.val('all');
                var sColor=all && '#' + all.hex || 'none';
                var color_min="["+all.h+","+all.s+","+all.v+"]"
                $("#color_min").val(color_min)
                LiveCallbackButton.css({backgroundColor:sColor});
                $('#Commit').css(
                    {
                        backgroundColor: all && '#' + all.hex || 'transparent'
                    });
                $(".div_colorpicker").hide()
            },
            {},
            //cancel
            function(color, context)
            {
                $(".div_colorpicker").hide()
            }
        );
    })
    $("#colorpicker_max").click(function () {
        var LiveCallbackButton = $('#colorpicker_max');
        $(".div_colorpicker").jPicker(
            {},
            //ok
            function(color, context)
            {
                var all = color.val('all');
                var color=all && '#' + all.hex || 'none';
                LiveCallbackButton.css({backgroundColor:color});
                var color_max="["+all.h+","+all.s+","+all.v+"]"
                $("#color_max").val(color_max)
                $('#Commit').css(
                    {
                        backgroundColor: all && '#' + all.hex || 'transparent'
                    });
                $(".div_colorpicker").hide();
            },
            {},
            //cancel
            function(color, context)
            {
                $(".div_colorpicker").hide()
            }
        );
    })
    $(".btn-confirm").click(function () {
        var cameraId=$("#cameraId").val()
        var colorMin=$("#color_min").val()
        var colorMax=$("#color_max").val()
        var vedioFps=$(".select-fps").find("option:selected").text();
        var compressionRatio=$(".compression_ratio").find("option:selected").text();

        var url="/setting"
        $.ajax({
            type: "post",
            url: url,
            data: {
                cameraId:cameraId,
                vedioFps:vedioFps,
                compressionRatio:compressionRatio,
                colorMin:colorMin,
                colorMax:colorMax
            },
            dataType: "json",
            success: function (result)
            {
                $(".result_div").css("display","block")
                if(result.status=="0"){
                    $(".result_div").css("color","#2edd57");
                }else{
                    $(".result_div").css("color","#ff0000");
                }
                $(".result_div").text(result.message)
                timeout("result_div")
            },
            error:function (XMLHttpRequest, textStatus, errorThrown)
            {
                $(".result_div").css("display","block")
                $(".result_div").css("color","#ff0000");
                $(".result_div").text(errorThrown)
                timeout("result_div")
            }
        })

    })
    function timeout(clazz) {
        setTimeout(function () {
            $("."+clazz+"").css("display","none")
        },2000)
    }
    $(".user_management").click(function () {

        var url="/findAllUsers"
        $.ajax({
            type: "post",
            url: url,
            success: function (result) {

                if(result!= null){
                    var result = eval(result);
                    var table_html = "";
                    $.each(result,function(i,obj) {
                        table_html += "<tr><td class=\"user_name\">"+ obj.userName +"</td><td class=\"change_pwd\" name='chnagepwd'  onclick=\"changPwd('"+obj.userId+"','"+obj.userName+"')\">Change Password</td></tr>";
                    });
                    $("#userList").html(table_html);
                }
                $(".dialog_admin_overlay").show();
                $(".dialog_admin").css("display", "block");
                setTimeout(
                    "$('.dialog_admin').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
                    50
                );
            },
            error:function (XMLHttpRequest, textStatus, errorThrown)
            {

            }
        })
    })
    $(".btn-admin-close").click(function () {
        $(".dialog_admin_overlay").hide();
        $(".dialog_admin").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });

    })
    function changPwd(userId,userName){
        $("#userName").html(userName);
        $("#userId").val(userId);
        $(".dialog_change_pwd_overlay").show();
        $(".dialog_change_pwd").css("display", "block");
        setTimeout(
            "$('.dialog_change_pwd').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );

    }
    $(".btn-change-pwd-close").click(function () {
        $(".dialog_change_pwd_overlay").hide();
        $(".dialog_change_pwd").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });

    })
    $(".btn-add-user").click(function () {
        $(".dialog_change_pwd_overlay").show();
        $(".dialog_add_user").css("display", "block");
        setTimeout(
            "$('.dialog_add_user').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );
    })
    $(".btn-add-user-close").click(function () {
        $(".dialog_change_pwd_overlay").hide();
        $(".dialog_add_user").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });

    })
    $(".cam_management").click(function () {
        refreshNmCam();
        $(".dialog_admin_overlay").show();
        $(".dialog_cam_management").css("display", "block");
        setTimeout(
            "$('.dialog_cam_management').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );

    })
    function refreshNmCam(){
        var url="/findNmCamera";
        $.ajax({
            type: "post",
            url: url,
            success: function (result) {
                if(result!= null){
                    var result = eval(result);
                    var table_html = "<tr class=\"tr_cam_list_title\">\n" +
                        "                        <th width=\"150\">Club Id</th>\n" +
                        "                    <th>Cam Name</th>\n" +
                        "                    <th>Reource Id</th>\n" +
                        "                    <th>Edit</th>\n" +
                        "                    <th>Monitor on-off</th>\n" +
                        "                    <th>on-off</th>\n" +
                        "                    </tr>";
                    $.each(result,function(i,obj) {
                        table_html += "<tr><td class=\"club_id\">"+ obj.clubId +"</td>" +
                            "<td class=\"cam_id\">"+obj.cameraName+"</td>"+
                            "<td class=\"resource_id\">"+obj.resourceId+"</td>"+
                            "<td class=\"edit\"><a href=\"#\" class=\"edit_cam\" onclick=\"editCam('"+obj.cameraId+"')\" ><em></em></a></td>"+
                            "<td class=\"is_monitor_text\">On</td>"+
                            "<td class=\"is_monitor\"><input type=\"checkbox\" onclick=\"monitorCam(this,'"+obj.cameraId+"')\"></td></tr>";
                    });
                    $("#nm_cam_list").html(table_html);
                    //显示弹出框

                }

            },
            error:function (XMLHttpRequest, textStatus, errorThrown)
            {

            }
        })
    }
    var monitor=[];
    function monitorCam(checkBox,cameraId) {
        if(checkBox.checked){
            monitor.push(cameraId);
        }else {
            var index = monitor.indexOf(cameraId);
            if (index >= 0) {
                monitor.splice(index, 1);
            }
        }
    }
    $(".btn_change_monitor_cam").click(function () {
        var url="/changeMonitorCam";
        $.ajax({
            type: "post",
            url: url,
            data: {
                monitor:monitor
            },
            dataType: "json",
            traditional: true,
            success: function (result) {
                $(".change_monitor_cam_error_div").css("display","block")
                if(result.status=="0"){
                    $(".change_monitor_cam_error_div").css("color","#2edd57");
                }else{
                    $(".change_monitor_cam_error_div").css("color","#ff0000");
                }
                $(".change_monitor_cam_error_div").text(result.message)
                timeout("change_monitor_cam_error_div")
                //设置成功，刷新界面
                refreshNmCam();
                getMCam();
            },
            error:function (XMLHttpRequest, textStatus, errorThrown)
            {

                $(".change_monitor_cam_error_div").css("display","block")
                $(".change_monitor_cam_error_div").css("color","#ff0000");
                $(".change_monitor_cam_error_div").text(errorThrown)
                timeout("change_monitor_cam_error_div")
            }
        })
    })
    function editCam(cameraId){
        $("#cameraId").val(cameraId);
        $(".dialog_add_simple_cam_overlay").show();
        $(".dialog_edit_simple_cam").css("display", "block");
        setTimeout(
            "$('.dialog_edit_simple_cam').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );


    }
    $(".btn_edit_simple_cam").click(function () {
        var cameraId=$("#cameraId").val();
        var cameraName=$("#cameraName").val();
        var url="/editSimpleCam";
        $.ajax({
            type: "post",
            url: url,
            data: {
                cameraId:cameraId,
                cameraName:cameraName
            },
            dataType: "json",
            success: function (result)
            {
                $(".e_simple_cam_error_div").css("display","block")
                if(result.status=="0"){
                    $(".e_simple_cam_error_div").css("color","#2edd57");
                    refreshNmCam();
                }else{
                    $(".e_simple_cam_error_div").css("color","#ff0000");
                }
                $(".e_simple_cam_error_div").text(result.message)
                timeout("e_simple_cam_error_div")

            },
            error:function (XMLHttpRequest, textStatus, errorThrown)
            {
                $(".e_simple_cam_error_div").css("display","block")
                $(".e_simple_cam_error_div").css("color","#ff0000");
                $(".e_simple_cam_error_div").text(errorThrown)
                timeout("e_simple_cam_error_div")
            }
        })


        
    })
    $(".btn-cam-close").click(function () {
        $(".dialog_admin_overlay").hide();
        $(".dialog_cam_management").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });
    })

    $(".btn-add-simple-cam-close").click(function () {
        $(".dialog_add_simple_cam_overlay").hide();
        $(".dialog_add_simple_cam").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });


    })
    $(".btn-add-cam").click(function () {
        $(".dialog_add_simple_cam_overlay").show();
        $(".dialog_add_simple_cam").css("display", "block");
        setTimeout(
            "$('.dialog_add_simple_cam').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );
    })
    $(".btn-edit-simple-cam-close").click(function () {
        $(".dialog_add_simple_cam_overlay").hide();
        $(".dialog_edit_simple_cam").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });


    })
    $(".output_device_manaement").click(function () {
        $(".dialog_admin_overlay").show();
        $(".dialog_add_output_device").css("display", "block");
        setTimeout(
            "$('.dialog_add_output_device').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );
    })
    $(".btn-add-output-device-close").click(function () {
        $(".dialog_admin_overlay").hide();
        $(".dialog_add_output_device").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });

    })
    $(".btn_change_pwd").click(function () {
        var password = $("#c_password").val();
        var c_password = $("#c_confirm_pwd").val();
        var userId = $("#userId").val()
        if (password != c_password) {
            $(".c_error_div").css("display", "block");
            $(".c_error_div").text("You enter your password twice, please re-enter");
            timeout("c_error_div");
            return;
        }
        var url = "/changePwd"
        $.ajax({
            type: "post",
            url: url,
            data: {
                userId:userId,
                password: password
            },
            dataType: "json",
            success: function (result) {
                $(".c_error_div").css("display","block")
                if(result.status=="0"){
                    $(".c_error_div").css("color","#2edd57");
                }else{
                    $(".c_error_div").css("color","#ff0000");
                }
                $(".c_error_div").text(result.message)
                timeout("c_error_div");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $(".c_error_div").css("display","block");
                $(".c_error_div").css("color","#ff0000");
                $(".c_error_div").text(errorThrown)
                timeout("c_error_div");
            }


        })
    })

    $(".btn_add_user").click(function () {
        var userName=$("#a_username").val();
        var password=$("#a_password").val();
        var c_password=$("#a_confirm_pwd").val();
        if(password != c_password){
            $(".a_error_div").css("display", "block");
            $(".a_error_div").text("You enter your password twice, please re-enter");
            timeout("a_error_div");
            return
        }
        var url="/addUser";
        $.ajax({
            type: "post",
            url: url,
            data: {
                userName:userName,
                password: password
            },
            dataType: "json",
            success: function (result) {
                $(".a_error_div").css("display","block")
                if(result.status=="0"){
                    $(".a_error_div").css("color","#2edd57");
                }else{
                    $(".a_error_div").css("color","#ff0000");
                }
                $(".a_error_div").text(result.message)
                timeout("a_error_div");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $(".a_error_div").css("display","block");
                $(".a_error_div").css("color","#ff0000");
                $(".a_error_div").text(errorThrown)
                timeout("a_error_div");
            }


        })
    })

    $(".btn_add_output_device").click(function () {
        var name=$("#output_device_name").val()
        var url="/addOutputDevice";
        $.ajax({
            type: "post",
            url: url,
            data: {
                name:name,
            },
            dataType: "json",
            success: function (result) {
                $(".a_d_error_div").css("display","block")
                if(result.status=="0"){
                    $(".a_d_error_div").css("color","#2edd57");
                }else{
                    $(".a_d_error_div").css("color","#ff0000");
                }
                $(".a_d_error_div").text(result.message)
                timeout("a_d_error_div");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $(".a_d_error_div").css("display","block");
                $(".a_d_error_div").css("color","#ff0000");
                $(".a_d_error_div").text(errorThrown)
                timeout("a_d_error_div");
            }
        })
    })
    $(".btn_add_simple_cam").click(function () {
        var clubId=$("#club").val();
        var resourceId=$("#resource_id").val();
        var camName=$("#cam_name").val();
        var url="/addSimpleCam"
        $.ajax({
            type: "post",
            url: url,
            data: {
                clubId:clubId,
                resourceId:resourceId,
                camName:camName
            },
            dataType: "json",
            success: function (result) {
                $(".a_simple_cam_error_div").css("display","block")
                if(result.status=="0"){
                    $(".a_simple_cam_error_div").css("color","#2edd57");
                }else{
                    $(".a_simple_cam_error_div").css("color","#ff0000");
                }
                $(".a_simple_cam_error_div").text(result.message)
                timeout("a_simple_cam_error_div");
                refreshNmCam();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $(".a_simple_cam_error_div").css("display","block");
                $(".a_simple_cam_error_div").css("color","#ff0000");
                $(".a_simple_cam_error_div").text(errorThrown)
                timeout("a_simple_cam_error_div");
            }
        })
        
    })


</script>
</body>
</html>
