<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="browsermode" content="application" />
    <meta name="x5-page-mode" content="app" />
    <title>Pose management</title>
    <link rel="stylesheet" href="front/css/style.css" />
    <link rel="stylesheet" href="front/script/jPicker/css/jPicker-1.1.6.min.css"/>
    <link rel="stylesheet" href="front/script/jPicker/jPicker.css"/>
    <script type="text/javascript" src="front/script/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="front/script/jPicker/jpicker-1.1.6.js"></script>
    <script type="text/javascript" src="front/js/color.js"></script>
    <script>
        $(document).ready(function () {
            var host = "ws://127.0.0.1:8081/"
            socket = new WebSocket(host);
            try {

                socket.onopen = function (msg) {
                    console.log("连接成功！")
                    //向服务端发送消息
                    //socket.send("message")

                };

                socket.onmessage = function (msg) {
                    if (typeof msg.data == "string") {
                        var obj = JSON.parse(msg.data);
                        if (obj.type== 1)
                            $("#image").attr("src",obj.image);
                        if (obj.type== 2){
                            console.log(obj);
                            var html = "<img style='margin:1px;' src='" + obj.image + " ' width='214px' height='120px'/>";
                            $("#showImage").append(html);
                        }

                    }
                    else {
                        alert("非文本消息");
                    }
                };

                socket.onclose = function (msg) {
                    console.log("socket closed!")
                    //window.location.reload();
                };
            }
            catch (ex) {
                console.log(ex);
            }
        });
    </script>

</head>
<body class="body">
<div class="header">
    <div class="header-inner clearfix">
        <div class="logo-box"><div class="logo"></div></div>
        <div class="login-box">
            <a href="/logout" class="icon-login"> <em></em> <span>Logout</span> </a>
            <a href="#" class="icon-user">
                <em></em> <span th:text="${userName}"></span>
            </a>
        </div>
    </div>
</div>

<div class="content">
    <div class="content-inner">
        <div class="setting-box clearfix">
            <a href="#" class="btn-setting"><em></em>Setting</a>
            <div class="pop-setting">
                <ul class="setting-list">
                    <li><a href="#" class="user_management">User Management</a></li>
                    <li><a href="#" class="cam_management">Cam Management</a></li>
                    <li><a href="#">Output Device Management</a></li>
                </ul>
            </div>
        </div>
        <div class="table-list">
            <div class="table-title"><h4>DeviceList</h4></div>
            <div class="table-box">
                <table
                        class="table-detail"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                >
                    <tr >
                        <th width="150">Club</th>
                        <th>Resource ID</th>
                        <th>OutputDevice ID</th>
                        <th></th>
                    </tr>
                    <tr th:each=" store: ${storeInfos}">
                        <td th:text="${store.storeId}"></td>
                        <td th:text="${store.sitResourceId}"></td>
                        <td th:text="${store.storeName}"></td>
                        <td>
                            <a href="#" class="setting"><em></em>Setting</a>
                        </td>
                    </tr>

                </table>

                <div class="add-box"><a href="#" class="btn-add"></a></div>
            </div>
        </div>
        <div class="table-list">
            <div class="table-title"><h4>AlertList</h4></div>
            <div class="table-box">
                <table
                        class="table-detail"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                >
                    <tr>
                        <th width="150">Time</th>
                        <th>Club</th>
                        <th>ResourseID</th>
                        <th></th>
                    </tr>
                    <tr th:each="alert:${alertInfos}">
                        <td th:text="${alert.time}"></td>
                        <td th:text="${alert.storeId}"></td>
                        <td th:text="${alert.cameraId}"></td>
                        <td><img th:src="${alert.image}" style="width: 100px;height: 50px"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="dialog_admin_overlay"></div>
<div class="dialog_admin">
    <div class="detail-title">
        <h5>User Management(Administrator)</h5>
        <a href="#" class="btn-admin-close"></a>
    </div>
    <div class="div_user_title">User List</div>
    <div class="user-table-list">
        <div class="table-box">
            <table
                    class="table-detail"
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
            >
                <tr>
                    <td class="user_name">zhangsan</td>
                    <td class="change_pwd">Change Password</td>
                </tr>
                <tr>
                    <td class="user_name">zhangsan</td>
                    <td class="change_pwd">Change Password</td>
                </tr>
                <tr>
                    <td class="user_name">zhangsan</td>
                    <td class="change_pwd">Change Password</td>
                </tr>
            </table>
        </div>
        <div class="add-user-box">
            <a href="#" class="btn-add-user"><em></em>Add User</a>
        </div>
    </div>
</div>
<div class="dialog_cam_management">
    <div class="detail-title">
        <h5>Cam Management</h5>
        <a href="#" class="btn-cam-close"></a>
    </div>
    <div class="div_cam_title">Cam List</div>
    <div class="cam-table-list">
        <div class="table-box">
            <table
                    class="table-detail"
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
            >
                <tr class="tr_cam_list_title">
                    <th width="150">Club Id</th>
                    <th>Cam Name</th>
                    <th>Reource Id</th>
                    <th>Edit</th>
                    <th>Monitor on-off</th>
                    <th>on-off</th>
                </tr>
                <tr>
                    <td class="club_id">123456</td>
                    <td class="cam_id">Cam Name 1</td>
                    <td class="resource_id">Resource Id</td>
                    <td class="edit"><a href="#" class="edit_cam"><em></em></a></td>
                    <td class="is_monitor_text">On</td>
                    <td class="is_monitor"><input type="checkbox" checked></td>
                </tr>
                <tr>
                    <td class="club_id">123456</td>
                    <td class="cam_id">Cam Name 1</td>
                    <td class="resource_id">Resource Id</td>
                    <td class="edit"><a href="#" class="edit_cam"><em></em></a></td>
                    <td class="is_monitor_text">On</td>
                    <td class="is_monitor"><input type="checkbox" checked></td>
                </tr>
                <tr>
                    <td class="club_id">123456</td>
                    <td class="cam_id">Cam Name 1</td>
                    <td class="resource_id">Resource Id</td>
                    <td class="edit"><a href="#" class="edit_cam"><em></em></a></td>
                    <td class="is_monitor_text">On</td>
                    <td class="is_monitor"><input type="checkbox" checked></td>
                </tr>
                <tr>
                    <td class="club_id">123456</td>
                    <td class="cam_id">Cam Name 1</td>
                    <td class="resource_id">Resource Id</td>
                    <td class="edit"><a href="#" class="edit_cam"><em></em></a></td>
                    <td class="is_monitor_text">On</td>
                    <td class="is_monitor"><input type="checkbox" checked></td>
                </tr>
            </table>
        </div>
        <div class="add-cam-box">
            <a href="#" class="btn-add-cam"><em></em>Add Cam</a>
        </div>
    </div>
</div>
<div class="dialog_change_pwd_overlay"></div>
<div class="dialog_change_pwd">
    <div class="detail-title">
        <h5>Change Password</h5>
        <a href="#" class="btn-change-pwd-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                UserName
                <div class="right-option">ZhangSan</div>
            </li>
            <li>
                Password
                <div class="right-option"><input id="c_password" name="c_password" type="password" placeholder="Password"></div>
            </li>
            <li>
                Confirm Password
                <div class="right-option"><input id="c_confirm_pwd" name="c_confirm_pwd" type="password" placeholder="Confirm Password"></div>
            </li>
        </ul>
    </div>
    <div class="btn_change_pwd">Confirm</div>
</div>
<div class="dialog_general_change_pwd">
    <div class="detail-title">
        <h5>Change Password</h5>
        <a href="#" class="btn-general-change-pwd-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                UserName
                <div class="right-option">ZhangSan</div>
            </li>
            <li>
                Password
                <div class="right-option"><input id="g_c_password" name="g_c_password" type="password" placeholder="Password"></div>
            </li>
            <li>
                Confirm Password
                <div class="right-option"><input id="g_c_confirm_pwd" name="g_c_confirm_pwd" type="password" placeholder="Confirm Password"></div>
            </li>
        </ul>
    </div>
    <div class="btn_general_change_pwd">Confirm</div>
</div>
<div class="dialog_add_user">
    <div class="detail-title">
        <h5>Add User</h5>
        <a href="#" class="btn-add-user-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                UserName
                <div class="right-option"><input id="a_username" name="a_username" type="text" placeholder="Username"></div>
            </li>
            <li>
                Password
                <div class="right-option"><input id="a_password" name="a_password" type="password" placeholder="Password"></div>
            </li>
            <li>
                Confirm Password
                <div class="right-option"><input id="a_confirm_pwd" name="a_confirm_pwd" type="password" placeholder="Confirm Password"></div>
            </li>
        </ul>
    </div>
    <div class="btn_add_user">Confirm</div>
</div>
<div class="dialog_overlay"></div>
<input type="hidden" id="color_min" value="173,100,96">
<input type="hidden" id="color_max" value="173,100,96">
<div class="add-detail">
    <div class="div_colorpicker" ></div>
    <div class="detail-title">
        <h5>ParameterOfModelList</h5>
        <a href="#" class="btn-close"></a>
    </div>
    <div class="detail-box">
        <ul class="detail-list">
            <li>
                CameraId
                <div class="right-option"><input id="cameraId" name="cameraId" type="text" placeholder="请输入摄相头id"></div>
            </li>
            <li>
                ColorReference
                <div class="right-option"><button id="colorpicker_min" class="colorpicker"></button><button class="colorpicker" id="colorpicker_max"></button></div>
            </li>
            <li>
                Threshold
                <div class="right-option"></div>
            </li>
            <li>
                VideoFPS
                <div class="right-option">
                    <div class="select-wrap select-fps">
                        <select name="video_fps" id="video_fps">
                            <option value="0">15</option>
                            <option value="1">10</option>
                            <option value="2">5</option>
                        </select>
                    </div>
                </div>
            </li>
            <li>
                VedioResolution
                <div class="right-option">
                    <div class="select-wrap select-resolution">
                        <select name="resolution" id="resolution">
                            <option value="0">1024 x 768</option>
                            <option value="1">1024 x 768</option>
                            <option value="2">1024 x 768</option>
                        </select>
                    </div>
                </div>
            </li>
            <li>
                Compression ratio
                <div class="right-option">
                    <div class="select-wrap select-ratio">
                        <select name="compression-ratio" class="compression_ratio">
                            <option value="0">0.8</option>
                            <option value="1">0.5</option>
                            <option value="2">0.3</option>
                        </select>
                    </div>
                </div>
            </li>
            <!--<li>-->
            <!--VideoROI-->
            <!--<div class="right-option"></div>-->
            <!--</li>-->
            <!--<li>-->
            <!--OutputDevice-->
            <!--<div class="right-option">-->
            <!--<div class="select-wrap select-device">-->
            <!--<select name="device" id="device">-->
            <!--<option value="0">Device 1</option>-->
            <!--<option value="1">Device 2</option>-->
            <!--<option value="2">Device 3</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="result_div" >Error message</div>
    <div class="btn-box">
        <a href="#" class="btn-confirm">Confirm</a>
    </div>
</div>
<script type="text/javascript">
    //btn-setting
    $(".setting-box .btn-setting").hover(
        function() {
            $(this).addClass("active");
            $(".pop-setting").fadeIn(300);
        },
        function() {
            $(this).removeClass("active");
            setTimeout(function() {
                $(".pop-setting").is(":visible") && $(".pop-setting").hasClass("on")
                    ? ""
                    : $(".pop-setting").hide();
            }, 400);
        }
    );

    $(".pop-setting").hover(
        function() {
            $(this).addClass("on");
            $(".setting-box .btn-setting").addClass("active");
        },
        function() {
            $(".setting-box .btn-setting").removeClass("active");
            $(this) .removeClass("on") .hide();
        }
    );

    //btn-add
    $(".table-list .table-box .add-box .btn-add").click(function() {
        $(".dialog_overlay").show();
        $(".add-detail").css("display", "block");
        setTimeout(
            "$('.add-detail').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );
    });

    $(".detail-title .btn-close").click(function() {
        $(".dialog_overlay").hide();
        $(".add-detail").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });
    });
    $("#colorpicker_min").click(function () {
        var LiveCallbackButton = $('#colorpicker_min');
        $(".div_colorpicker").jPicker(
            {},
            //ok
            function(color, context)
            {
                var all = color.val('all');
                var sColor=all && '#' + all.hex || 'none';
                var color_min="["+all.h+","+all.s+","+all.v+"]"
                $("#color_min").val(color_min)
                LiveCallbackButton.css({backgroundColor:sColor});
                $('#Commit').css(
                    {
                        backgroundColor: all && '#' + all.hex || 'transparent'
                    });
                $(".div_colorpicker").hide()
            },
            {},
            //cancel
            function(color, context)
            {
                $(".div_colorpicker").hide()
            }
        );
    })
    $("#colorpicker_max").click(function () {
        var LiveCallbackButton = $('#colorpicker_max');
        $(".div_colorpicker").jPicker(
            {},
            //ok
            function(color, context)
            {
                var all = color.val('all');
                var color=all && '#' + all.hex || 'none';
                LiveCallbackButton.css({backgroundColor:color});
                var color_max="["+all.h+","+all.s+","+all.v+"]"
                $("#color_max").val(color_max)
                $('#Commit').css(
                    {
                        backgroundColor: all && '#' + all.hex || 'transparent'
                    });
                $(".div_colorpicker").hide();
            },
            {},
            //cancel
            function(color, context)
            {
                $(".div_colorpicker").hide()
            }
        );
    })
    $(".btn-confirm").click(function () {
        var cameraId=$("#cameraId").val()
        var colorMin=$("#color_min").val()
        var colorMax=$("#color_max").val()
        var vedioFps=$(".select-fps").find("option:selected").text();
        var compressionRatio=$(".compression_ratio").find("option:selected").text();

        var url="/setting"
        $.ajax({
            type: "post",
            url: url,
            data: {
                cameraId:cameraId,
                vedioFps:vedioFps,
                compressionRatio:compressionRatio,
                colorMin:colorMin,
                colorMax:colorMax
            },
            dataType: "json",
            success: function (result)
            {
                $(".result_div").css("display","block")
                if(result.status=="0"){
                    $(".result_div").css("color","#2edd57");
                }else{
                    $(".result_div").css("color","#ff0000");
                }
                $(".result_div").text(result.message)
                timeout()
            },
            error:function (XMLHttpRequest, textStatus, errorThrown)
            {
                $(".result_div").css("display","block")
                $(".result_div").css("color","#ff0000");
                $(".result_div").text(errorThrown)
                timeout()
            }
        })

    })
    function timeout() {
        setTimeout(function () {
            $(".result_div").css("display","none")
        },2000)
    }
    $(".user_management").click(function () {
        $(".dialog_admin_overlay").show();
        $(".dialog_admin").css("display", "block");
        setTimeout(
            "$('.dialog_admin').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );

    })
    $(".btn-admin-close").click(function () {
        $(".dialog_admin_overlay").hide();
        $(".dialog_admin").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });

    })
    $(".change_pwd").click(function () {
        $(".dialog_change_pwd_overlay").show();
        $(".dialog_change_pwd").css("display", "block");
        setTimeout(
            "$('.dialog_change_pwd').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );

    })
    $(".btn-change-pwd-close").click(function () {
        $(".dialog_change_pwd_overlay").hide();
        $(".dialog_change_pwd").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });

    })
    $(".btn-add-user").click(function () {
        $(".dialog_change_pwd_overlay").show();
        $(".dialog_add_user").css("display", "block");
        setTimeout(
            "$('.dialog_add_user').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );
    })
    $(".btn-add-user-close").click(function () {
        $(".dialog_change_pwd_overlay").hide();
        $(".dialog_add_user").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });

    })
    $(".cam_management").click(function () {
        $(".dialog_admin_overlay").show();
        $(".dialog_cam_management").css("display", "block");
        setTimeout(
            "$('.dialog_cam_management').css({'opacity':'1', '-webkit-transform':'scale(1)'})",
            50
        );


    })
    $(".btn-cam-close").click(function () {
        $(".dialog_admin_overlay").hide();
        $(".dialog_cam_management").css({
            opacity: "0",
            "-webkit-transform": "scale(0)",
            display: "none"
        });
    })

</script>
</body>
</html>
