<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="http://tyit.qiniudn.com/ucp/js/jquery.min.js"></script>
    <title>文件上传</title>
    <script type="text/javascript">
        function ksubmit(){
            alert("你好");
            document.getElementById("form1").submit();
        }
    </script>
</head>
<body>
<h2>文件上传</h2>
<form name="form1" id="form1" method="post" action="upload" enctype="multipart/form-data">
    <table>
        <tr>
            <td>文件描述</td>
            <td>
                <input type="text" name="description" style="width:160px"  datatype="Require" msg="请输入文件"/>
            </td>
        </tr>
        <tr>
            <td>请选择文件</td>
            <td><input type="file" name="file"/></td>
        </tr>
        <tr>
            <td><button onclick="ksubmit()">提交</button></td>
        </tr>
    </table>
</form>
</body>
</html>
